/Users/JuanS/Developer/Contraste Sonoro/Audio Files
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/agua-aves-denoizer.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/agua-aves.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/agua-noize.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/agua.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/aguagudo.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/aves-denoizer.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/aves.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/Q-Delicias-Agua.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/Q-Delicias-Agua+Aves.wav
/Users/JuanS/Developer/Contraste Sonoro/Audio Files/Q-MZL.wav